
#meal-masonry {
    padding: 1.5em;
    margin: 0 auto;
    columns: 5;
    column-gap: 30px;
}

@media (max-width: 1200px) {
    #meal-masonry {
        columns: 4;
    }
}

@media (max-width: 900px) {
    #meal-masonry {
        columns: 3;
    }
}

@media (max-width: 768px) {
    #meal-masonry {
        columns: 2;
    }
}

@media (max-width: 480px) {
    #meal-masonry {
        columns: 1;
    }
}