#meal-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

#meal-category button {
    margin: 0.3em;
    padding: 0.5em .5em;
    border: none;
    cursor: pointer;
    border-radius: 99999px;
    font-size: 1em;
    color: white;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    background-color: #636e72;
}
 
#meal-category button:hover {
    transform: scale(1.1);
}

.selected-meal {
    background-color: #ff7675 !important;
}


@media screen and (min-width: 465px) and (max-width: 665px) {
    #meal-category {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
