<div id="meal-ingredients">
    <ingredient-button text="Salmon">
        <img src="~Assets/images/ingredients/salmon.jpg" alt="Salmon" slot="background">
    </ingredient-button>

    <ingredient-button text="Eggs">
        <img src="~Assets/images/ingredients/eggs.jpg" alt="Eggs" slot="background">
    </ingredient-button>

    <ingredient-button text="Noodle">
        <img src="~Assets/images/ingredients/noodle.jpg" alt="Noodle" slot="background">
    </ingredient-button>

    <ingredient-button text="Rice">
        <img src="~Assets/images/ingredients/rice.jpg" alt="Rice" slot="background">
    </ingredient-button>

    <ingredient-button text="Soy Sauce">
        <img src="~Assets/images/ingredients/soysauce.jpg" alt="Soy Sauce" slot="background">
    </ingredient-button>
</div>